body {
    background-color: #ffeed9;
    color: #500;
    font-size: 14px;
    font-family: 'Tahoma', Helvetica,Arial, sans-serif;
}
h1 {
    font-size: 28px;
    font-family: serif;
}
#git {
    font-family: 'Tahoma', Helvetica,Arial, sans-serif;
}